.grid__icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
}
	.icons__container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3px;
		margin: 3px;
	}

	.icons__icon {
		fill: $primarySolid;
		width: 50px;
		.icon__outline {
			stroke: $notBlack;
		}

		.logo {
			fill: $notBlack;
		}

		.icon__angle {
			fill: $primarySolid;
			stroke: none;
		}

		&:hover {
			.icon__outline {
				fill: $primarySolid;
			}
		}

		svg {
			width: 50px;
			display: block;
		}
	}

