.grid-item {
	border: 2px solid $primary;
}

.grid-item:first-child {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.grid-item:nth-child(2) {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 4;
}

.grid-item:nth-child(3) {
	grid-row-start: 1;
	grid-column-start: 5;
	// background-color: pink;
}

.grid-item:nth-child(4) {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	// background-color: purple;
}

.grid-item:nth-child(6) {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	// background-color: dodgerblue;
}

.grid-item:nth-child(7) {
	grid-row-start: 3;
	grid-row-end: 5;
	grid-column-start: 4;
	grid-column-end: 6;
	// background-color: aquamarine;
}