@import 'setup';
@import 'variables';
@import 'media';

html,
body {
	font-size: 62.5%;
	// font-family: 'Poiret One', cursive;
	font-family: 'Varela Round', sans-serif;
	color: $notBlack;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.grid {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	// grid-row-gap: 2px;
	// grid-column-gap: 2px;
	background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
	justify-items: center;
	align-items: stretch;
}

.grid-item {
	padding: 1rem;
	width: 100%;
	background-color: transparent;
}

// Colors
.grid-item--primary {
	// background-color: $notBlack;
}

.grid-item--secondary {
	// background-color: $electricBlue;
}

.grid-item--accent {
	// background-color: $flame;
}

.grid-item__title-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Name Block
.grid-item__title {
	font-size: 4rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: $notWhite;
	padding: 10px 20px 7px 20px;
	position: relative;
	margin-bottom: 10px;
	&:before,
	&:after { 
		content:"";
		position: absolute;
		left: 0;
		right: 0;
		height: 3px;
		border-radius: 10px;
		display: block;
		background-color: $notWhite;
		z-index: 9;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}

.grid-item__subtitle {
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

// Headline Block
.grid-item__headline-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $notWhite;
	// background-color: $notBlack;
}

.grid-item__headline {
	font-size: 3rem;
	line-height: 4rem;
	text-transform: uppercase;
	text-align: center;
	width: 80%;
}

.grid-item__textblock {
	color: $notWhite;
}

@import 'layout';

// Blocks
@import 'images';
@import 'icons';
@import 'about';
@import 'footer';
