article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html,
body {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
  color: #323031; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  justify-items: center;
  align-items: stretch; }

.grid-item {
  padding: 1rem;
  width: 100%;
  background-color: transparent; }

.grid-item__title-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-item__title {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #EFE9E7;
  padding: 10px 20px 7px 20px;
  position: relative;
  margin-bottom: 10px; }
  .grid-item__title:before, .grid-item__title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 10px;
    display: block;
    background-color: #EFE9E7;
    z-index: 9; }
  .grid-item__title:before {
    top: 0; }
  .grid-item__title:after {
    bottom: 0; }

.grid-item__subtitle {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.grid-item__headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EFE9E7; }

.grid-item__headline {
  font-size: 3rem;
  line-height: 4rem;
  text-transform: uppercase;
  text-align: center;
  width: 80%; }

.grid-item__textblock {
  color: #EFE9E7; }

.grid-item {
  border: 2px solid #801357; }

.grid-item:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; }

.grid-item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4; }

.grid-item:nth-child(3) {
  grid-row-start: 1;
  grid-column-start: 5; }

.grid-item:nth-child(4) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1; }

.grid-item:nth-child(6) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4; }

.grid-item:nth-child(7) {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 6; }

.grid-item__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.grid-item__image--fun {
  background-image: url(../../assets/collage_jazz.jpeg); }

.grid-item__image--work {
  background-image: url(../../assets/officeBureau_jazz.jpg); }

.grid__icons {
  display: flex;
  justify-content: center;
  align-items: center; }

.icons {
  display: flex;
  justify-content: center;
  align-items: center; }

.icons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin: 3px; }

.icons__icon {
  fill: #e96161;
  width: 50px; }
  .icons__icon .icon__outline {
    stroke: #323031; }
  .icons__icon .logo {
    fill: #323031; }
  .icons__icon .icon__angle {
    fill: #e96161;
    stroke: none; }
  .icons__icon:hover .icon__outline {
    fill: #e96161; }
  .icons__icon svg {
    width: 50px;
    display: block; }

.about__subtitle {
  font-size: 2rem;
  color: #EFE9E7; }

.about__blurb {
  font-size: 1.8rem; }

.footer {
  display: flex;
  flex-direction: column-reverse;
  height: 100%; }

.footer__copy {
  font-size: 1rem; }

.footer__description {
  display: block; }
